
<div class="banner-area myBackGroundImg">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-text">
                    <h1>Find Your <span>Desire</span> Job</h1>
                    <p>Jobs, Employment & Future Career Opportunities</p>
                    <div class="banner-form-area">
                        <form>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Job Title">
                                        <label>
                                            <i class="icofont-search-1"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>
                                            <i class="icofont-location-pin"></i>
                                        </label>
                                        <input type="text" class="form-control" placeholder="City or State">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <select>
                                            <option>Job Category</option>
                                            <option>Another option</option>
                                            <option>A option</option>
                                            <option>Potato</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn banner-form-btn">Search</button>
                        </form>
                    </div>
                    <div class="banner-btn">
                        <a href="create-account.html">Create Your Profile</a>
                        <a href="submit-resume.html">Upload Your CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="account-area">
    <div class="container">
        <div class="row account-wrap">
            <div class="col-sm-6 col-lg-4">
                <div class="account-item">
                    <i class="flaticon-approved"></i>
                    <span>Register Your Account</span>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="account-item">
                    <i class="flaticon-cv"></i>
                    <span>Upload Your Resume</span>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="account-item account-last">
                    <i class="flaticon-customer-service"></i>
                    <span>Apply for Dream Job</span>
                </div>
            </div>
        </div>
    </div>
</div>