<div class="main-nav">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="#">
                <img src="~/Design/Logo.png" alt="Logo">
            </a>
            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a  asp-controller="Home" asp-action="Index">Home </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="JobList" asp-controller="JobList" class="nav-link">Job List</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link dropdown-toggle">Candidates <i class="icofont-simple-down"></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a asp-action="CandidateList" asp-controller="CandidateList" class="nav-link">Candidate List</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="CandidateDetails" asp-controller="Candidates" class="nav-link">Candidate Details</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a asp-action="CompanyList" asp-controller="Company" class="nav-link">Company List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Contact"asp-controller="Contacts" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Profile"asp-controller="Profiles" class="nav-link">Profile</a>
                    </li>
                </ul>
                <div class="common-btn">
                    <a class="login-btn" a asp-area="Identity" asp-page="/Account/Register">
                        <i class="icofont-plus-square"></i>
                        Sign Up
                    </a>
                    <a class="sign-up-btn" a asp-area="Identity" asp-page="/Account/Login">
                        <i class="icofont-user-alt-4"></i>
                        Login
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>