<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="~/Design/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Meanmenu CSS -->
    <link href="~/Design/css/meanmenu.css" rel="stylesheet" />
    <!-- Icofont -->
    <link href="~/Design/css/icofont.min.css" rel="stylesheet" />
    <!-- Nice Select JS -->
    <link href="~/Design/css/nice-select.css" rel="stylesheet" />
    <!-- Owl Carousel CSS -->
    <link href="~/Design/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Design/css/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Animate CSS -->
    <link href="~/Design/css/animate.css" rel="stylesheet" />
    <!-- Flaticon CSS -->
    <link href="~/Design/fonts/flaticon.css" rel="stylesheet" />
    <!-- Style CSS -->
    <link href="~/Design/css/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link href="~/Design/css/responsive.css" rel="stylesheet" />
    @*custom css*@
    <link href="~/Design/css/Sowrov.css" rel="stylesheet" />

    <title>Job Portal</title>

    <link rel="icon" type="image/png" href="~/Design/Logo.png">
</head>
<body>

    <!-- Start Navbar Area -->
    <div class="navbar-area fixed-top">

        <!-- Menu For Mobile Device -->
        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="~/Design/Logo.png" alt="Logo">
            </a>
        </div>

        <!-- Menu For Desktop Device -->

        <partial name="_HeaderBarPartial" />

        <!-- Menu For Desktop Device -->
    </div>
    <!-- End Navbar Area -->
    @RenderBody()

    <partial name="_FooterBarPartial" />

    <!-- End Footer -->
    <!-- Essential JS -->
    <script src="~/Design/js/jquery.min.js"></script>
    <script src="~/Design/js/popper.min.js"></script>
    <script src="~/Design/js/bootstrap.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="~/Design/js/jquery.meanmenu.js"></script>
    <!-- Nice Select JS -->
    <script src="~/Design/js/jquery.nice-select.min.js"></script>
    <!-- Mixitup JS -->
    <script src="~/Design/js/jquery.mixitup.min.js"></script>
    <!-- Counter JS -->
    <script src="~/Design/js/waypoints.min.js"></script>
    <script src="~/Design/js/jquery.counterup.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="~/Design/js/owl.carousel.min.js"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="~/Design/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/Design/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/Design/js/contact-form-script.js"></script>

    <!-- Wow JS -->
    <script src="~/Design/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="~/Design/js/custom.js"></script>

</body>
</html>