 <div class="loader">
<!-- Menu For Mobile Device -->
        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="~/Design/img/logo.png" alt="Logo">
            </a>
        </div>
    </div>
    <!-- Login -->
    <div class="login-area pt-100">
        <div class="container">
            <h2>Login Your Account</h2>

            <div class="login-wrap">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="jobseeker-item">
                            <div class="jobseeker-icon">
                                <i class="flaticon-job-search"></i>
                            </div>
                            <div class="jobseeker-inner">
                                <span>Candidate</span>
                                <h3>Login as a Candidate</h3>
                            </div>
                            <a href="login.html">
                                Get Started
                                <i class="icofont-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="jobseeker-item">
                            <div class="jobseeker-icon">
                                <i class="flaticon-recruitment"></i>
                            </div>
                            <div class="jobseeker-inner">
                                <span>Employer</span>
                                <h3>Login as a Employer</h3>
                            </div>
                            <a href="login.html">
                                Get Started
                                <i class="icofont-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username, Phone Number or Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </form>

            <div class="login-sign-in">
                <a href="#">Forgot Password?</a>
                <ul>
                    <li>Don’t Have Account ?</li>
                    <li>
                        <a href="create-account.html">Sign Up Here</a>
                    </li>
                </ul>
                <div class="text-center">
                    <button type="submit" class="btn login-btn">Sign In</button>
                </div>
            </div>

            <div class="login-social">
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="icofont-facebook"></i>
                    Login With Facebook
                </a>
                <a class="login-google" href="https://mail.google.com/" target="_blank">
                    <i class="icofont-google-plus"></i>
                    Login With Google
                </a>
            </div>
        </div>
    </div>
    <!-- End Login -->